name: Notify

on:
  workflow_dispatch:
    inputs:
      to:
        description: "Notify"
        type: string
        required: true
      msg:
        description: "Notify Message"
        type: string
        required: true
jobs:
  notify:
    runs-on: ubuntu-latest  
    steps:
      - uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.SMTP_USERNAME }}
          password: ${{ secrets.SMTP_PASSWORD }}
          from: Quran Lessons
          to: ${{ github.event.inputs.to }}
          subject: Quran Lessons Notify
          body: ${{ github.event.inputs.msg }}
